@model IEnumerable<OAuthFace.EntityModels.tblOrder>
@{
    ViewBag.Title = "ShowLastTenInvoices";
}

<h2>Last Ten Invoices</h2>

@Html.Partial("_AdmnMenu")

<h2>
    <img height="48px" src="/COntent/Images/lastten.png" />Report</h2>

<table class="report">
    <thead>
        <tr>
            <th>Invoice No.</th>
            <th>Consignee</th>
            <th>Order Date</th>
            <th>Product</th>
            <th>Amount</th>
        </tr>
    </thead>
    @foreach (var v in Model)
    {
        <tr>
            <td>@Html.DisplayFor(x => v.idAutoPK)</td>
            <td>@Html.ActionLink(v.tblUser.customerName, "Index", "SearchCustomer", new { EMailToSearch = v.tblUser.customerEmail }, null)
            </td>
            <td>@Html.DisplayFor(x => v.orderDate)</td>
            <td>@Html.DisplayFor(x => v.tblProduct.productName)</td>
            <td>@Html.DisplayFor(x => v.invoiceAmount)</td>
        </tr>
    }
</table>
